[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
transformers = "*"
accelerator = "*"
accelerate = "*"
wandb = "*"
tqdm = "*"
psutil = "*"
ir-datasets = "*"

[dev-packages]

[requires]
python_version = "3.9"
